@font-face {
  font-family: "name";
  src: url("./name-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "name";
  src: url("./name-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "name";
  src: url("./name-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "name";
  src: url("./name-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "name";
  src: url("./name-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
